// Categories
.categories {
	&__wrapper {
		margin-bottom: -3rem;
	}

	&__item {
		margin-bottom: 3rem;
		border-radius: 1rem;
		box-shadow: $box-shadow-primary;

		&:hover {
			.categories__item__title {
				.icon {
					i {
						&:first-child {
							opacity: 0;
							transition-delay: 0s;
						}

						&.icon-arrow {
							opacity: 1;
							transition-delay: .2s;
						}
					}
				}
			}

			img {
				transform: scale(1.05);
			}
		}

		&__title {
			position: relative;
			padding: 2rem;

			&.product {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

			.price {
				margin-left: 1rem;

				span {
					&:first-child:not(:last-child) {
						text-decoration: line-through;
					}
				}
			}

			h3 {
				margin: 0;
			}

			.icon {
				width: 6.5rem;
				height: 6.5rem;
				position: absolute;
				top: 0;
				right: 2rem;
				transform: translate3d(0, -50%, 0);
				border-radius: 50%;
				background-color: $color-white;

				i {
					font-size: 2.4rem;
					color: $color-primary;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate3d(-50%, -50%, 0);
					transition: $transition-primary-fast;

					&:first-child {
						opacity: 1;
						transition-delay: .2s;
					}

					&.icon-arrow {
						opacity: 0;
						font-size: 1.7rem;
						transform: scale3d(-1, 1, 1) translate3d(50%, -50%, 0);
					}

					&.icon-sandwich,
					&.icon-grill {
						font-size: 3rem;
					}
				}
			}
		}

		a {
			outline: 0;
			color: $color-dark;
			text-decoration: none;
		}

		.img,
		img {
			border-radius: 1rem 1rem 0 0;
			width: 100%;
			height: 30rem;
			max-height: 30rem;
			object-fit: cover;
			background-size: cover;
			background-position: center center;
			transition: $transition-primary-slow;
		}

		.img {
			overflow: hidden;
		}
	}
}

.price {
	font-size: 1.7rem;
	font-family: $font-secondary;
	white-space: nowrap;

	@include media-breakpoint-up(lg) {
		font-size: 2.1rem;
	}

	ins {
		text-decoration: unset;
	}
}