.text {
	.text-columns {
		display: flex;
		flex-flow: wrap;
		width: 100%;
		margin: 3rem 0;

		&:last-child {
			margin-bottom: 0;
		}

		&__column {
			width: 50%;

			@include media-breakpoint-up(md) {
				&:first-child {
					padding-right: 3rem;
				}
				
				&:last-child {
					padding-left: 3rem;
				}
			}

			ul {
				margin-bottom: 0;
			}
		}
	}

	&__wrapper {
		&.center {
			@include media-breakpoint-up(lg) {
				max-width: 70vw;
				margin: 0 auto;
			}
			
			@media (min-width: 1420px) {
				max-width: 50vw;
			}

			@media (min-width: 1900px) {
				max-width: 87rem;
			}
		}
		h2, h3, h4 {
			&:not(:first-child) {
				margin-top: 2.5rem
			}
		}

		p {
			margin-bottom: 2rem;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.button {
		margin-top: 1rem;

		@include media-breakpoint-up(lg) {
			margin-top: 2rem;
		}
	}
}