// Quote
.quote {
    text-align: center;
    &__wrapper {
        max-width: 80rem;
        margin: 0 auto;

    }
    &__slide {
        width: 100%;
        h5, p {
            font-style: italic;
            font-size: 1.8rem;
        }
        p {
            line-height: 4rem;
            margin-bottom: 2rem;
        }
        h5 {
            font-weight: 700;
            margin-bottom: 0;
        }
    }
    &__icon {
        i {
            font-size: 21rem;
            color: #f7f7f7;
            display: block;
            margin: -3rem 0 -11rem;
            color: $color-light;
        }
    }
}