// Title icon
.title-icon {
    &__wrapper {
        display: flex;
        flex-flow: wrap;
        padding: 4rem 3rem;
        border-radius: 1rem;
        background-color: $color-secondary;
        .item {
            color: $color-white;
            text-align: center;
            width: 33.33333%;
            padding: 0 4rem;
            margin-bottom: 2rem;
            &:nth-last-child(-n + 3):nth-child(3n + 1),
            &:nth-last-child(-n + 3):nth-child(3n + 1) ~ div {
                margin-bottom: 0;
            }
            h4 {
                margin-bottom: 0;
            }
            i {
                font-size: 4rem;
                display: block;
                margin-bottom: 1.3rem;
                line-height: 1;
            }
        }
    }
}